*{
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

:root{
  --headerColor: #28293E;
  --headerColorSecondary: #8A8A96;
  --white: #fff;
  --main: #FDF0E9;
  --mainText: #947A6C;
  --mainActive: #16CD53;
  --plateText: #391400;
}


